<div class="nav-bar">
  <div class="nav-bar-contents">
    <a href="/frontend">
    <div class="logo">
      <img src="/logo.png " />
    </div>
  </a>
    <div class="title">
      <a href="/frontend">
        Botigueta
      </a>
    </div>
    <div class="user-info">
      <div class="checkout" ng-show="user.user">
        {{user.user.profile.displayName}}
        <a ng-href="#/checkout">
          <i class="fa fa-shopping-cart"></i>
        </a>
      </div>
      <div class="user" ng-show="user.user">
        <img ng-src="{{user.user.profile.picture}}" />
      </div>
      <div class="logout" ng-show="user.user">
        <a ng-href="/logout">
          <i class="fa fa-sign-out"></i>
        </a>
      </div>
      <div class="login" ng-show="!user.user">
        <a href="/auth/facebook?redirect=%2Ffrontend%2F%23%2F">
          <img src="//i.stack.imgur.com/LKMP7.png">
        </a>
      </div>
    </div>
  </div>
</div>
