<!--
TODO: this HTML should expose a search bar
!-->

<div class="search-bar-wrapper">
              <span>CATEGORIES</span><br>
              <a href="#/category/Electronics">Electronics</a> |
              <a href="#/category/Books">Books</a> 
              <hr>
              <input type="text"  ng-model="searchText" ng-change="update()" class="search-bar-input" placeholder="Buscar" />
              <div ng-repeat="item in results" class="autocomplete-result">
                <a href="#/product/{{item._id}}">{{item.name}}</a>
              </div>


</div>
